body {
    background-color: #4cb14cff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

form {
    width: 350px;
    margin: 100px auto;  
    padding: 20px;
    border: 2px solid green;
    border-radius: 8px; 
    background-color: white;
}

#user,#pass {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login {
    background-color: #4bd64bff;
    width: 150px;          
    height: 40px;          
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.3s ease;
}

#login:hover {
    width: 140px;          
}