body {
      font-family: Arial, sans-serif;
      padding: 30px;
      background-color: #f0f8ff;
    }

    h2 {
      text-align: center;
      color: #003366;
    }

    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      width: 320px;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    input {
      width: 100%;
      padding: 6px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    
    }
    #name,#email{
      background-color: #c6d2de;
    }

    button {
      width: 30%;
      padding: 6px;
      margin-top: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      background-color: #237bd4ff;
      color: white;
      cursor: pointer;
      font-size: 15px;
      
    }

    button:hover {
      background-color: #0055aa;
    }

    #output, #error {
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
    }

    #error {
      color: red;
    }

    #output {
      color: #003366;
    }